# Requirements that are required by optional components

# For simpl.rest
bottle==0.12.8
voluptuous==0.8.7

# For simpl.server
eventlet==0.17.4
tornado==4.2

# For simpl.middleware.cors
WebOb==1.4.1

# MongoDB
https://github.com/ziadsawalha/MongoDBProxy/archive/master.zip
