# hacking is picky with its requirements, so let's have it run first.
hacking            # requires flake8==2.2.4,pep8==1.5.7

coverage
flake8_docstrings
mock
mongobox
nose
nose-ignore-docstring
prettyprint
pylint
pyyaml
requests
webtest
